@import "~bootstrap/scss/bootstrap";
@import "./podcast.scss";
@import "./header.scss";

small, .small {
    font-size: 0.575em;
}
body{
    background-color: $background;
}

.input-search{
    padding: 8px 20px;
    border: 2px solid $gray;
    border-radius: 25px 0 0 25px;
    border-right: 0;

    &:focus-visible {
        outline: none;
    }
}

.text-right{
    text-align: right;
}

.spinner-grow{
    margin: auto;
    position: absolute;
    left: -1px;
    right: -1px;
    top: -1px;
    bottom: -1px;
}